DATABASE_URL=postgresql://postgres:postgres@db:5432/inventory_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=


GIT_SSH_COMMAND="ssh -i ~/.ssh/id_rsa_varsha045git -o IdentitiesOnly=yes" git push origin master